<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Composition" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.AttributedModel" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.Convention" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.Hosting" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.Runtime" version="1.2.0" targetFramework="net461" />
  <package id="System.Composition.TypedParts" version="1.2.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net461" />
  <package id="System.Linq.Parallel" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Json" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Principal" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net461" />
</packages>
